body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    border: 3px solid darkgray;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 8px;
    text-align: left;
    width: 20%;
    border: 1px solid darkgray;
}

th {
    background-color: #2f6129;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.table_border {
    border-bottom: 3px solid darkgray;
}

.settings_table {
    border: none;
    align-content: center;
}

.settings_table input, .settings_table select, .settings_table button {
    border: none;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.settings_table input {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #2f6129;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #254d22;
}

select {
    background-color: #2f6129;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    width: 100%;
}

td.red {
    color: red;
}

td.green {
    color: lightgreen;
}

td.best {
    font-weight: bold;
    font-size: 18px;
}

.pad {
    padding-top: 20px;
}

.toggle-container {
    text-align: center;
    display: flex;
    gap: 10px;
}

.toggle-btn {
    border: none;
    width: 50%;
}

input[type="range"] {
    width: 50%;
    margin: 0;
}

.delay_input_num {
    width: 18%;
    margin-left: 2%;
}

.delay_pre_label {
    width: 13%;
}

.delay_post_label {
    margin-left: 10px;
}

.range-container {
    display: flex;
    align-items: center;
}